---
import { Image } from "astro:assets";
import AboutImage from "../../assets/images/home/about2.webp";
---

<section class="bg-black/90 py-16 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Sección de contenido -->
      <div class="space-y-8 about-content">
        <div>
          <h2
            class="text-4xl sm:text-5xl lg:text-6xl font-bold text-gray-100 leading-tight"
          >
            Somos Geocore
            <br />
            <span class="text-[#26656c]">Ingenieros</span>
          </h2>
          <p class="mt-6 text-lg text-gray-100 leading-relaxed">
            En Geocore Ingenieros, somos un equipo de profesionales con más de
            13 años de experiencia especializada en geotecnia, comprometidos con
            brindar soluciones técnicas de alto nivel para la ingeniería civil y
            la construcción. Nos enfocamos en la supervisión de ensayos
            geotécnicos, la revisión técnica de resultados de laboratorio, así
            como en el procesamiento, control de calidad y consultoría
            especializada. Nuestro trabajo se basa en la precisión, la
            responsabilidad y la excelencia, lo que nos ha permitido ser una
            referencia de confianza en cada proyecto que acompañamos.
          </p>
        </div>

        <!-- Grid de servicios -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <!-- Peak Solutions -->
          <div
            class="flex items-center space-x-4 p-4 rounded-lg text-gray-100 hover:text-black/90 hover:bg-white hover:shadow-md transition-all duration-300"
          >
            <div class="flex-shrink-0">
              <div
                class="w-16 h-16 rounded-full flex items-center justify-center"
                style="background: linear-gradient(to bottom right, #26656c, #26656c)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-badge-check-icon lucide-badge-check"
                  ><path
                    d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
                  ></path><path d="m9 12 2 2 4-4"></path></svg
                >
              </div>
            </div>
            <div>
              <h4 class="text-xl font-semibold">+13 años de experiencia</h4>
            </div>
          </div>

          <!-- Industrial Solutions -->
          <div
            class="flex items-center space-x-4 p-4 rounded-lg text-gray-100 hover:text-black/90 hover:bg-white hover:shadow-md transition-all duration-300"
          >
            <div class="flex-shrink-0">
              <div
                class="w-16 h-16 rounded-full flex items-center justify-center"
                style="background: linear-gradient(to bottom right, #26656c, #26656c)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-test-tube-diagonal-icon lucide-test-tube-diagonal"
                  ><path
                    d="M21 7 6.82 21.18a2.83 2.83 0 0 1-3.99-.01a2.83 2.83 0 0 1 0-4L17 3"
                  ></path><path d="m16 2 6 6"></path><path d="M12 16H4"
                  ></path></svg
                >
              </div>
            </div>
            <div>
              <h4 class="text-xl font-semibold">
                Laboratorio de última generación
              </h4>
            </div>
          </div>

          <!-- Tech Solutions -->
          <div
            class="flex items-center space-x-4 p-4 rounded-lg text-gray-100 hover:text-black/90 hover:bg-white hover:shadow-md transition-all duration-300"
          >
            <div class="flex-shrink-0">
              <div
                class="w-16 h-16 rounded-full flex items-center justify-center"
                style="background: linear-gradient(to bottom right, #26656c, #26656c)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-medal-icon lucide-medal"
                  ><path
                    d="M7.21 15 2.66 7.14a2 2 0 0 1 .13-2.2L4.4 2.8A2 2 0 0 1 6 2h12a2 2 0 0 1 1.6.8l1.6 2.14a2 2 0 0 1 .14 2.2L16.79 15"
                  ></path><path d="M11 12 5.12 2.2"></path><path
                    d="m13 12 5.88-9.8"></path><path d="M8 7h8"></path><circle
                    cx="12"
                    cy="17"
                    r="5"></circle><path d="M12 18v-2h-.5"></path></svg
                >
              </div>
            </div>
            <div>
              <h4 class="text-xl font-semibold">
                Control de calidad especializado
              </h4>
            </div>
          </div>

          <!-- Skill Craft Service -->
          <div
            class="flex items-center space-x-4 p-4 rounded-lg text-gray-100 hover:text-black/90 hover:bg-white hover:shadow-md transition-all duration-300"
          >
            <div class="flex-shrink-0">
              <div
                class="w-16 h-16 rounded-full flex items-center justify-center"
                style="background: linear-gradient(to bottom right, #26656c, #26656c)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-notebook-pen-icon lucide-notebook-pen"
                  ><path
                    d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"
                  ></path><path d="M2 6h4"></path><path d="M2 10h4"></path><path
                    d="M2 14h4"></path><path d="M2 18h4"></path><path
                    d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"
                  ></path></svg
                >
              </div>
            </div>
            <div>
              <h4 class="text-xl font-semibold">
                Consultoría técnica personalizada
              </h4>
            </div>
          </div>
        </div>

        <!-- Botón Read More -->
        <div class="pt-4">
          <button
            class="inline-flex border border-[#26656c] items-center px-8 py-4 font-semibold rounded-full text-white transition-all duration-300 shadow-[#26656c] shadow-md hover:shadow-lg transform hover:-translate-y-1 cursor-pointer"
          >
            Ver más
            <svg class="ml-3 w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Sección de imagen -->
      <div class="relative z-0 about-image">
        <div class="relative overflow-hidden rounded-2xl shadow-2xl">
          <Image
            src={AboutImage}
            width={1000}
            height={1000}
            alt="Construction worker with hard hat at construction site"
            class="w-full h-96 sm:h-[500px] object-cover mix-blend-overlay opacity-90"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // Verificar si GSAP está cargado
  if (typeof gsap !== "undefined") {
    // Función para ejecutar las animaciones
    function initAnimations() {
      // Registrar el plugin
      gsap.registerPlugin(ScrollTrigger);

      // Configurar estado inicial para el contenido - desde la izquierda
      gsap.set(".about-content", {
        x: -100,
        opacity: 0,
      });

      // Configurar estado inicial para la imagen - desde la derecha
      gsap.set(".about-image", {
        x: 100,
        opacity: 0,
      });

      // Animación del contenido desde la izquierda
      gsap.to(".about-content", {
        x: 0,
        opacity: 1,
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".about-content",
          start: "top 80%",
          once: true,
        },
      });

      // Animación de la imagen desde la derecha
      gsap.to(".about-image", {
        x: 0,
        opacity: 1,
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".about-image",
          start: "top 80%",
          once: true,
        },
      });
    }

    // Ejecutar cuando el DOM esté listo
    if (document.readyState === "loading") {
      document.addEventListener("astro:page-load", initAnimations);
    } else {
      initAnimations();
    }
  } else {
    console.error(
      "GSAP no está cargado. Asegúrate de incluir GSAP en tu proyecto."
    );
  }
</script>
